@tailwind base;

@tailwind components;

@font-face {
  font-family: "lato";
  src: url("lato-regular-webfont.woff") format("woff"),
    url("lato-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_bold";
  src: url("lato-bold-webfont.woff") format("woff"),
    url("lato-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "digital";
  src: url("DigitalNumbers-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chunk";
  src: url("ChunkFive-Regular.woff") format("woff"),
    url("ChunkFive-Regular.woff2") format("woff2"),
    url("ChunkFive-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;
